extends layout

block content
    if error
        div.notification.is-danger
            button.delete
                span &times;
            p= error

    // Add Alert
    div.control
        form(action="/user/alerts", method="post")
            .columns.is-gapless
                .column.is-three-quarters.m-1
                    input.input(type="text", name="text", placeholder="Enter alert text")
                .column.m-1
                    button.button.is-primary(type="submit") Add Alert

        form(action="/user/alerts/upload", method="post", enctype="multipart/form-data")
            .field.is-grouped
                .control
                    input(type="file", name="file")
                .control
                    button.button.is-info(type="submit") Upload Alerts

    table.table.is-fullwidth
        thead
            tr
                th Alerts
                th 

        tbody
            each alert in alerts
                tr
                    td(id=`alert-${alert.id}`)= alert.text
                    td.has-text-right
                        form(action=`/user/deleteAlert/${alert.id}`, method="post", id=`delete-form-${alert.id}`)
                            input(type="hidden", name="_method", value="delete")
                            button.button.is-danger.is-small(type="button", onclick=`confirmDelete(${alert.id})`) Delete

block my_scripts
    // jQuery Code
    script.
        // delete confirmation
        function confirmDelete(id) {
            let alerttext = $(`td#alert-${id}`).text();
            console.log(alerttext,id);

            let confirmDelete = confirm(`Are you sure you want to delete [${alerttext}]?`);
            if (confirmDelete) {
                $(`#delete-form-${id}`).submit();
            }
        }

        $(document).ready(()=>{
            $('.notification .delete').click(function() {
                $(this).parent().hide();
            });
        });
