extends layout

block my_styles
	style.
		/* Remove the box around the tab view */
		#tabs {
			border: none;
		}

		/* Remove the background color of the tab headers */
		#tabs ul {
			background-color: transparent;
			border: none;
		}

		/* Style the active tab */
		#tabs .ui-tabs-active a {
			border-bottom: 2px solid #007bff;
		}

block content
	p Please select a date:

	form(action="/user", method="post") 
		div.field.is-grouped.is-grouped-multiline
			div.control
				input.input(type='date' name="date" value=date max=today)
			div.control
				button.button.is-primary(type='submit') Fetch Data


	#tabs
		ul
			li: a(href='#criminal-listing') Criminal Listing
			li: a(href='#civil-listing') Civil Listing
		#criminal-listing
			div.control
				input.my-search-input.input.is-fullwidth(type="text", placeholder="Search")

			each court in data
				if court.criminalListing.length
					.my-table
						h4.has-text-weight-bold.has-text-grey.is-pulled-right= court.name + ' - ' + court.buildingName
						table.table.is-striped.is-fullwidth
							thead
								tr
									th.has-text-grey Time
									th.has-text-grey Name
									th.has-text-grey Court
							tbody
								each criminal in court.criminalListing
									tr.is-data-row
										td= criminal.time
										td.my-criminal-name= criminal.name
										td= criminal.floorCourt		
		#civil-listing
			div.control
				input.my-search-input.input.is-fullwidth(type="text", placeholder="Search")

			each court in data
				if court.civilListing.length
					.my-table
						h4.has-text-weight-bold.has-text-grey.is-pulled-right= court.name + ' - ' + court.buildingName
						table.table.is-striped.is-fullwidth
							thead
								tr
									th.has-text-grey Time
									th.has-text-grey matterTitle
									th.has-text-grey matterNo
									th.has-text-grey floorCourt
							tbody
								each civil in court.civilListing
									tr.is-data-row
										td= civil.time
										td.my-matter-title= civil.matterTitle
										td.my-matter-no= civil.matterNo
										td= civil.floorCourt

block my_scripts
	script.
		$(document).ready(function() {
			$('#tabs').tabs();

			// search functionality
			function performSearch(listing,query, isListing){
				listing.find('.is-data-row').each(function(){
					if(isListing($(this), query)){
						$(this).show();
						$(this).closest('.my-table').show(); // show parent table
					}else{
						$(this).hide();
						var table = $(this).closest('.my-table');
						var hasVisibleRows = table.find('.is-data-row:visible').length > 0;
						if (!hasVisibleRows) {
							table.hide(); // hide parent table
						}
					}
				});
			}

			$('#criminal-listing .my-search-input').on('keyup', function(){
				var query = $(this).val().toLowerCase();

				performSearch($('#criminal-listing'),query, (row, query)=>{
					var criminalName = row.find('.my-criminal-name').text().toLowerCase();
					return criminalName.includes(query)
				});
			});

			$('#civil-listing .my-search-input').on('keyup', function(){
				var query = $(this).val().toLowerCase();

				performSearch($('#civil-listing'),query, (row, query)=>{
					var matterTitle = row.find('.my-matter-title').text().toLowerCase();
					// remove 2 spaces and replace with 1 space
					var matterNo = row.find('.my-matter-no').text().toLowerCase().replace(/ {2}/g, " ");
					return matterTitle.includes(query) || matterNo.includes(query)
				});
			});
		});

